langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-cerebras
langchain-groq
langchain-huggingface
langchain-classic
pypdf
faiss-cpu
sentence-transformers
rank_bm25
ragas==0.4.3
pypdf
datasets
dotenv
flask